extends ../layout

block content
  div(class="d-flex flex-column align-items-center justify-content-center min-vh-100 bg-body-transparent  p-4 py-md-5")
    div(class="card modal-content rounded-4 shadow")
      div(class="card-body modal-body p-5 pt-0")
        h1(class="fw-bold my-5 fs-2") Connexion
        form(method="post" action="/auth/signin")
          div(class="form-floating mb-3")
            input(type="email" class="form-control rounded-3" id="floatingInput" placeholder="name@example.com" name="email")
            label(for="floatingInput") Email
          div(class="form-floating mb-3")
            input(type="password" class="form-control rounded-3" id="floatingPassword" placeholder="Password" name="password")
            label(for="floatingPassword") Password
          if errors
            ul(class="my-2")
              each error in errors
                li(class="text-danger")= error
          button(type="submit" class="w-100 mb-2 btn btn-lg rounded-3 btn-primary") Connexion
          small(class="text-body-secondary") En cliquant sur Connexion, vous acceptez les termes d'utilisation.
          hr(class="my-4")
          h2(class="fs-5 fw-bold mb-3") Ou utilisez un service tiers
          a(href="/auth/google" class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3 d-flex align-items-center justify-content-center")
            | Connexion avec Google
          //- a(href="/auth/facebook" class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3 d-flex align-items-center justify-content-center")
          //-   | Connexion avec Facebook
