extends layout.pug

block content
    div.container.mx-auto.px-4.py-8
        h1.text-2xl.font-bold.text-center Welcome to My Website
        p.text-lg.text-center My awesome website using Tailwind CSS and Pug
