extends ../layout.pug

block content
  script(src="/scripts/waves/wave.js")
  div(class="d-flex wave-frame content mx-auto")
      include ../includes/profile.pug
      div(class="flex-fill d-flex flex-column" id="wave-list-container")
        include wave-list.pug
