if waves 
  each wave in waves  
    div(class="card wave-element")
      div(class="card-body d-flex flex-row justify-content-between align-items-center")
        a(class="card-text" href="/waves/edit/" + wave._id)= wave.content
        button(class="btn btn-danger" waveid=wave._id) Delete