extends ../layout.pug

block content
  script(src="/scripts/waves/wave.js")
  .row.wave-frame
    .col-md-4
      include ../includes/profile.pug
    .col-md-8
      #wave-list-container
        include wave-list.pug
