.content {
  max-width: 1000px;
  margin-top: 20px;
}

.profile-container {
  width: 30%;
  max-width: 300px;
}

.btn-wave {
  border-radius: 30px;
}

.wave-element {
  border-top: 0px;
}

.wave-element:first-child {
  margin-top: 10px;
  border-top: 1px solid #ddd;
}

.btn-google,
.btn-facebook {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wave-element {
  max-width: 600px;
  border-radius: 20px;
  background: linear-gradient(to right, #ffecd2 0%, #e3f2fd 100%);
}

.wave-element:nth-child(even) {
  background: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 100%);
}

.modal-content {
  border-radius: 15px;
  background: linear-gradient(to right, #e3f2fd 0%, #fecfef 100%);
}

.modal-header {
  background: #e3f2fd;
  border-bottom: none;
}

.modal-title {
  color: white;
}

.btn-close {
  filter: invert(1);
}

.modal-footer {
  border-top: none;
}

.btn-danger {
  background: #f76c6c;
  border: none;
}

.btn-secondary {
  background: #a29bfe;
  border: none;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-collapse > ul {
  margin-right: 20px;
}

/* Centrer le navbar uniquement quand il est en mode collapse et montré */
@media (max-width: 991.98px) {
  .navbar-collapse.show {
    display: flex;
    justify-content: center;
  }
  .navbar-collapse.show ul.nav {
    width: 100%;
    margin: 0 20px 0 20px;
    padding: 0;
    display: flex;
    justify-content: center;
  }
}

.profile-container {
  margin-right: 3rem;
}

#wave-list-container {
  margin-left: 3rem;
}

/* Image de profil (Avatar) */
.img-fluid {
  width: 80px;
  height: 80px;
  cursor: pointer;
  border-radius: 50%; /* Pour une image de profil ronde */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19); /* Ombre élégante */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animation douce pour les transformations */
}

.img-fluid:hover {
  transform: scale(1.1); /* Agrandissement léger au survol */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 40px rgba(0, 0, 0, 0.19); /* Ombre accentuée au survol */
}

/* Animation d'apparition */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.img-fluid {
  animation: fadeIn 1s ease-out;
}
