.content {
  max-width: 1000px;
  margin-top: 20px;
}

.profile-container {
  width: 30%;
  max-width: 300px;
}

.btn-wave {
  border-radius: 30px;
}

.wave-element {
  border-top: 0px;
}

.wave-element:first-child {
  margin-top: 10px;
  border-top: 1px solid #ddd;
  font-size: 14px;
}
